<html>
<head>
  <title><%= test %> - Test Rails JS</title>
  <% global_assets.stylesheets.each do |asset| %>
    <%= stylesheet_link_tag asset %>
  <% end %>
  <%= stylesheet_link_tag_if_exists test %>
</head>
<body>
  <% global_assets.javascripts.each do |asset| %>
    <%= javascript_include_tag asset %>
  <% end %>
  <%= javascript_include_tag_if_exists test %>
</body>
</html>
